<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite One" parallel="methods" thread-count="4" >
<listeners>
	   <listener class-name="com.TestNGSelenium.helpers.WebDriverListener"></listener>
	</listeners>
 <test name="TestNGPracticeFormTest" >
  <parameter name="browserName" value="firefox"></parameter>
  <packages>	
  <package name="com.TestNGSelenium.Tests.*" />
  </packages>
 </test>
</suite>